<div class="container">
  <ng-container *ngFor="let item of data">
    <app-view-mode [id]="item.id">
    </app-view-mode>
  </ng-container>
</div>

<button nz-button (click)="showDrawer()" >showDrawer</button>


<div class="container2" style="display: grid; grid-template-columns: repeat(3, 1fr)">
  <app-single-field *ngFor="let item of data" [data]="item"></app-single-field>
</div>
<!--<ng-template appViewRef></ng-template>-->

<!--<ng-template #ref let-total >-->
<!--  <h1>{{total}}</h1>-->
<!--</ng-template>-->
